body {
    background-color: #ffb96a;
    color: #aa3333;
    font-family: 'Comic Sans MS', 'Courier New', Courier, monospace;
}

input {
    background-color: #ffe0bd;
    color: #aa3333;
    font-family: 'Comic Sans MS', 'Courier New', Courier, monospace;
}